

a {
  color: inherit;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  gap: 183px;
}

.conteiner {
  width: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 92px 50px 96px 50px;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
  border-bottom: 1px solid #000;
  margin-bottom: 1px;
}

.header__links-list-item_no-bullit {
  list-style: none;
  border: none;
}

.header__link {
  font-size: 18px;

}


.header__link_active {}

.header__logo {
  display: block;
  justify-self: center;
  align-self: center;
  width: 140px;
  margin-left: 36.52px;
}

.header__logo-image {
  width: 100%;
}

.address {
  font-style: inherit;
}

.header__address {
  justify-self: end;
  font-style: inherit;
}

.address__item {
  display: table;
  font-size: 18px;
  line-height: 24.3px;
  border-bottom: 1px solid #000;
  margin-bottom: 1px;
}

.address__address-text {
  width: 236px;
  font-size: 18px;
  line-height: 1.35;
}

.cover {
  position: relative;
  padding: 165px 50px 50px 50px;
  background-image: url(/images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6000000238418579;
  background-color: #000000;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #FFF;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  line-height: 1;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.remove-spacing {
  letter-spacing: normal;
}

.cover__description {
  display: flex;
  align-items: center;
  margin-top: 118px;
}

.cover__description-text {
  z-index: 2;
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  cursor: pointer;
  z-index: 2;
  padding: 12px 31px 11px 31px;
  border: 1px solid #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: none;
  font-weight: 500;
  font-size: 22px;
  color: #fff;
  margin-left: 107px;
}

.lots {
  padding: 0 50px;
}

.main__lots {
  margin: 180px 24px 120px 24px;
}

.main__lots__title {
  font-weight: 700;
  font-size: 40px;
  margin-left: 40px;
}

.main__lots__items {
  margin-top: 27px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 20px;
}

.main__lots__item_1 {
  background-image: url('/images/card-lot-01.jpg');
}

.main__lots__item_2 {
  background-image: url('/images/card-lot-02.jpg');
}

.main__lots__item_3 {
  background-image: url('/images/card-lot-03.jpg');
}


.main__lots__item {
  list-style: none;
  height: 600px;
  width: 334px;
  position: relative;
  padding: 48px 40px;
  display: grid;
  grid-template-rows: 1fr auto;
}

.main__lots__link {
  z-index: 1000;
  color: #fff;
  opacity: 1px !important;
  position: relative;
  font-weight: 700;
  font-size: 22px;
  border-bottom: 2px solid #fff;
  text-transform: uppercase;
}

.main__lots__text {
  z-index: 1000;
  position: relative;
  color: #fff;
  line-height: 120%;
  font-size: 20px;
}

.main__lots__more {
  font-size: 20px;
  border-bottom: 1px solid #000;
  padding-bottom: 2px;
}


.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
  padding: 0 50px;
}

.about__column {
  justify-self: center;
}

.about__column_text {
  grid-column: 2/4;
}
.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  padding: 100px 0 104px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__text p {
  font-size: 20px;
  line-height: normal;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 180px 50px 80px;
}

.footer__social-icon {
  width: auto;
  height: 48px;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-link {
  font-size: 18px;
  line-height: normal;
  text-underline-position: under;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}